<html>
	<head>
		<title>Weather News</title>
		<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
		<script src="http://angular-ui.github.io/ui-router/release/angular-ui-router.js"></script>
		<script src="./javascripts/angularApp.js"></script>
	</head>
	<body ng-app="weatherNews">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<ui-view></ui-view>
				<script type="text/ng-template" id="/home.html">
					<div class="page-header"> 
						<h1>Weather News</h1>
					</div>

					<form ng-submit="addPost()" style = "margin-top30px;">
						<input type="text" ng-model="formContent"></input>
						<button type="submit">Post</button>
					</form>
					<div>
						{{test}}
					</div>
					<div ng-repeat="post in posts | orderBy: '-upvotes'">
						<button><span class="glyphicon glyphicon-thumbs-up" ng-click="incrementUpvotes(post)"></span></button>
						{{post.title}} - upvotes: {{post.upvotes}}
						<a href="#/posts/{{posts.indexOf(post)}}">Comments</a>
					</div>
				</script>
				<script type="text/ng-template" id="/posts.html">
					<div class="page-header">
						<h3>
							{{post.title}}
						</h3>
					</div>

					<div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
						<span class="glyphicon glyphicon-thumbs-up"
							ng-click="incrementUpvotes(comment)"></span>
							{{comment.upvotes}}
						<span style="font-size:20px; margin-left:10px;">
							{{comment.body}}
						</span>
					</div>
					<form ng-submit="addComment()" style="margin-top:30px;">
						<h3>Add a new comment</h3>

						<div class="form-group">
							<input type="text" class="form-control"	placeholder="Comment" ng-model="body">
							</input>
						</div>
						<button type="submit" class="btn btn-primary">Post</button>
					</form>

				</script>
			</div>
		</div>
	</body>
</html>
